@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Malayalam:wght@100..900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: #ffffff !important;
	font-family: "Montserrat", sans-serif !important;
}
.container-main{
	width: 80%;
	margin: auto;
}
.navbar-main{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color:#1d499e ;
}
.navbar-main i{
	color: #fff;
	font-size: 35px;
}
.logo-main{
	width: 190px;
}
.main-section-nav{
	background-color:#1d499e ;
	padding: 25px 0px;
	position: relative;
	z-index: 20;
}
.welcome-text{
	color: #1d499e;
	font-weight: 600;
}
.title-dv{
	width: 100%;
}
.box{
    position: absolute;
    top: 50%;
		left: 10%;
		z-index: 10;
		width: max-content;
}
.banner{
	height: 87vh;
	width: 100% !important;
	object-fit: cover;
}
.bold-text {
	font-weight: 400;
	color: #1d499e;
	/* text-transform: lowercase; */
}
.btn-test {
	background-color: #1d499e !important;
	color: #fff !important;
	padding: 11px 19px !important;
	border-radius: 25px !important;
}
.questions{
	width: 600px;
	margin: auto;
	display: table;
	padding: 25px 20px;
	background-color: #1d499e !important;
	margin-top: 60px;
	border-radius: 10px;
}
.font-question{
	color: #fff;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 19px;
	font-family: "Noto Serif Malayalam", serif !important;
}
.img-test{
	width: 60%;
	margin: auto;
	display: table;
	background-color: #fff;
	border-radius: 10px;
	margin-bottom: 25px;
}
.buttons-main{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.next-btn{
	background-color: #eeeeee !important;
	color: #1d499e !important;
	padding: 9px 15px !important;
	width: max-content;
	margin: auto;
	display: table !important;
	margin-bottom: 25px !important;
}
.results{
	font-family: "Noto Serif Malayalam", serif !important;
	color: #fff;
	padding-bottom: 20px;
	text-align: center;
}

.question-container i{
	color: #ddffa7 !important;
	text-align: center;
	font-size: 34px;
	width: max-content;
	margin: auto;
	display: table;
	padding-bottom: 25px;
}
.question-container .ri-check-double-line{
	color: #7fe76a !important;
	text-align: center;
	font-size: 34px;
	width: max-content;
	margin: auto;
	display: table;
	padding-bottom: 25px;
}

.numeric-options {
	max-width: 300px;
	margin: 20px auto;
}
.thanx{
	color: #fff;
}
.number-btn {
	width: 40px;
	height: 40px;
	margin: 5px;
	font-size: 17px !important;
	border-radius: 50%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.btn-primary {
	background-color: #d3d3d3 !important;
	color: white;
}

.btn-outline-primary {
	color: #ffffff !important;
	border-color: #ffffff !important;
}
.contact-form label{
	color: #fff;
}
.contact-form h4{
	text-align: center;
	color: #fff;
}
.btn-submit{
	background-color: #bae3f3 !important;
	width: max-content;
	margin: auto !important;
	display: table !important;
}
.bottom-space{
	padding-bottom: 30px;
}

.results-content {
    display: block;
}

.results-content.hide {
    display: none;
}
.location-box{
	color: #fff;
}

.location-box i{
	color: #fff !important;
	padding-bottom: 6px !important;
}
.number-txt{
	padding-bottom: 10px;
}


@media (max-width:650px) {
	.box {
		width: 88%;
}
	.banner {
    object-position: 56%;
	}
	.container-main {
    width: 84%;
	}
	.questions {
    width: 100%;
    padding: 25px 20px;
    margin-top: 90px;
	}
	.thank-you {
    padding: 0px !important;
}	
.logo-main {
	width: 160px;
	}
}





